## revision_history
## 08-mar-2011   Steven Davelaar
## 1.0           Initial creation
<?xml version='1.0' #PAGE_ENCODING_PROP()?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" #JSP_VERSION()>
</jsp:root>
