## revision_history
## 08-mar-2011   Steven Davelaar
## 1.0           Initial creation
<?xml version="1.0" #ENCODING_PROP() ?>
<adfc-config xmlns="http://xmlns.oracle.com/adf/controller" version="1.2">
  <task-flow-definition id="blank">
    <default-activity id="__1">blankPage</default-activity>
    <view id="blankPage">
      <page>#BLANK_PAGE_PATH()</page>
    </view>
    <use-page-fragments/>
  </task-flow-definition>
</adfc-config>
