## NameChange and CopyTitle methods bean
  <managed-bean id="#NEW_ID("__")">
    <managed-bean-name id="#NEW_ID("__")">TitleNameChange</managed-bean-name>
    <managed-bean-class id="#NEW_ID("__")">com.pq.tracs.view.beans.TitleNameChange</managed-bean-class>
    <managed-bean-scope id="#NEW_ID("__")">backingBean</managed-bean-scope>
  </managed-bean>
 