## Crate Target from Ulrichs bean
  <managed-bean id="#NEW_ID("__")">
    <managed-bean-name id="#NEW_ID("__")">UlrichsCreateTargetBean</managed-bean-name>
    <managed-bean-class id="#NEW_ID("__")">com.pq.tracs.view.beans.UlrichsCreateTargetBean</managed-bean-class>
    <managed-bean-scope id="#NEW_ID("__")">pageFlow</managed-bean-scope>
  </managed-bean>